<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to monopolyexchange.com</h1>
    <p>
      You have successfully added the following stickers:</br>
      <ul>
        <% @cards.each do |card| %>
          <li><%= "#{card.card_type.print_name}" %> (<%= link_to "unsubscribe",remove_card_url({token: card.token}) %>)</li>
        <% end %>
      </ul>
    </p>
    <p>If anyone searches for those stickers, we will send you a notification email!</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>