<div class="row">
  <div class="span10 offset1">
    <% @cards.each do |color,entries| %>
      <div class="span3">
        <div id="round-corners" style="background-color: #<%= CardType::COLOURS[color] %>;">
          </div>
          <div class="btn-group" data-toggle="buttons-checkbox">
          <% entries.each do |entry| %>
            <label class="checkbox">
              <input type="checkbox" name="<%= entry.id %>"> <%= entry.name %>
            </label>
          <% end -%>
        </div>
      </div>
    <% end -%>
  </div>
</div>
<div class="row" align="center">
  <input id="email" type="text" placeholder="Type your e-mail...">
</div>
<div class="row">
  <div class="pagination" align="center">
    <ul>
      <li><a id="search_button" class="button" href="#">Search stickers</a></li>
      <li><a id="add_button" class="button" href="#">Add sticker</a></li>
    </ul>
    <hr>
  </div>
</div>
<div class="row" align="center">
  <strong>Disclaimer: We are not affiliated with McDonald's in any way!</strong>
  <p>Contact: <a href="https://twitter.com/adam0f" target="_blank">@adam0f</a> or 
    <a href="https://twitter.com/yvpetrov" target="_blank">@yvpetrov</a>
</div>
